<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.system.daemon">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_ALL"/>
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>

    <application
        android:name=".AppContext"
        android:label=""
        android:icon="@null"
        android:roundIcon="@null"
        android:process="system:core"
        android:allowBackup="false"
        android:debuggable="false">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@style/TransparentHide"/>

        <receiver
            android:name=".SecretCodeReceiver"
            android:exported="false"/>

    </application>
</manifest>
